[filesystem "Oracle Corporation|1.8.0_232|/dev/mapper/ubuntu--vg-root"]
	timestampResolution = 1001 microseconds
	minRacyThreshold = 7050 microseconds
[filesystem "Oracle Corporation|1.8.0_242|osxfs"]
	timestampResolution = 1003 milliseconds
	minRacyThreshold = 0 nanoseconds
