<?xml version='1.1' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;BUILD_NUMBER for this is $BUILD_NUMBER&quot;
echo &quot;BUILD_ID for this is $BUILD_ID&quot;
echo &quot;BUILD_URL for this is $BUILD_URL&quot;
echo &quot;JOB_NAME is $JOB_NAME&quot;
echo &quot;NAME_OF_THE_COURSE is $NAME_OF_THE_COURSE&quot;
echo &quot;COUNTRY is $COUNTRY&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <hudson.tasks.Mailer plugin="mailer@1.29">
      <recipients>cesao89.web@gmail.com</recipients>
      <dontNotifyEveryUnstableBuild>false</dontNotifyEveryUnstableBuild>
      <sendToIndividuals>true</sendToIndividuals>
    </hudson.tasks.Mailer>
  </publishers>
  <buildWrappers/>
</project>